<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Document</title>
</head>
<body>
    <section class="main">
        <section class="navse">
            <nav>
                <link>Home</link>
                <link>About</link>
                <link>Contact</link>
            </nav>
        </section>
        
    </section>
</body>
</html>